h1 {
  font-weight: $global-weight-normal;
}

h1,
h2,
h3 {
  text-transform: uppercase;

  &.h-stat {
    font-size: rem-calc(88);
    font-weight: $global-weight-normal;
    line-height: 1;
  }

  &.h-big {
    @include breakpoint(large) {
      font-size: 56px;
    }
  }
}

p {
  &.p-light {
    color: $light-blue-p;
    font-size: rem-calc(14);
  }

  &.p-lead {
    font-size: rem-calc(18);

    @include breakpoint(medium) {
      font-size: rem-calc(24);
    }
  }
}
