.index-we-do {
  padding-bottom: 40px;

  @include breakpoint(large) {
    background: url(../img/index-production-bg.png) no-repeat calc(50% + 346px) bottom;
    padding-bottom: 132px;
  }

  h1 {
    margin-bottom: 17px;
  }

  &__steps {
    border: solid 1px $border-light-blue;
    margin: 40px 0 56px;
  }

  &__step {
    padding: 24px 22px 18px 24px;

    &:not(:first-child) {
      border-left: solid 1px $border-light-blue;
    }

    h3 {
      font-size: 16px;
      color: #99aecc;
      margin-bottom: 93px;
    }

    h2 {
      line-height: 1.7;
      margin-bottom: 17px;
    }

    svg {
      margin-left: 13px;
    }
  }

  &__p-lead {
    line-height: 1.8;
  }
}
