.index-happy-clients {
  margin-bottom: rem-calc(40);
  margin-top: rem-calc(40);

  @include breakpoint(large) {
    margin-bottom: rem-calc(80);
    margin-top: rem-calc(80);
  }

  @include breakpoint(xlarge) {
    margin-bottom: rem-calc(120);
    margin-top: rem-calc(120);
  }

  &__p {
    @include breakpoint(medium) {
      margin-bottom: rem-calc(48);
    }
  }

  &__testimonial {
    background: rgba(40, 61, 89, 0.25);

    @include breakpoint(small down) {
      margin-top: rem-calc(16);
    }

    .index-video {
      background: rgba(40, 61, 89, 0.25);
    }

    h2 {
      line-height: 1.7;
      padding: rem-calc(24 24 0);
      text-transform: none;
    }

    p {
      padding: rem-calc(0 24);
    }
  }

  &__read-full {
    align-items: center;
    border-top: solid 1px $border-light-blue;
    color: $white;
    display: flex;
    justify-content: space-between;
    margin-top: rem-calc(24);
    padding: rem-calc(16 24);
    text-transform: uppercase;
    transition: background-color 0.25s ease-out;

    &:hover {
      background-color: $border-light-blue;
      color: $white;
    }
  }

  .orbit-previous,
  .orbit-next {
    border-radius: 50%;
    border: solid 1px $border-light-blue;
    cursor: pointer;
    height: 48px;
    transition: background-color 0.25s ease-out;
    width: 48px;
    padding: 0;

    @include breakpoint(small down) {
      display: none;
    }

    @include breakpoint(xlarge down) {
      background-color: rgba(40, 61, 89, 0.3);
    }

    &:hover {
      background-color: $border-light-blue;
    }
  }

  .orbit-previous {
    left: 5px;

    @include breakpoint(xlarge) {
      left: -88px;
    }
  }

  .orbit-next {
    right: 5px;

    @include breakpoint(xlarge) {
      right: -88px;
    }
  }
}
