.index-we-do {
  padding-bottom: rem-calc(40);

  @include breakpoint(large) {
    background: url(../img/index-production-bg.png) no-repeat calc(50% + 346px) bottom;
    padding-bottom: rem-calc(80);
  }

  @include breakpoint(xlarge) {
    padding-bottom: rem-calc(132);
  }

  h1 {
    margin-bottom: rem-calc(17);
  }

  &__steps {
    border: solid 1px $border-light-blue;
    margin: rem-calc(40 0 56);
  }

  &__step {
    padding: rem-calc(24 22 18 24);

    &:not(:first-child) {
      border-top: solid 1px $border-light-blue;

      @include breakpoint(medium) {
        border-left: solid 1px $border-light-blue;
        border-top: none;
      }
    }

    h3 {
      color: #99aecc;
      font-size: rem-calc(16);
      margin-bottom: rem-calc(40);

      @include breakpoint(large) {
        margin-bottom: rem-calc(93);
      }
    }

    h2 {
      line-height: 1.7;
      margin-bottom: rem-calc(17);
    }

    svg {
      margin-left: rem-calc(13);
    }
  }

  &__p-lead {
    line-height: 1.8;
  }
}
